body {
  background: #ffefef;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 800;
  color: #6c0345;
  text-align: center;
}

form {
  display: flex;
}
.form-container {
  padding: 30px 30px 20px 30px;
  background-color: #f3d0d7;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(39, 33, 66, 0.15);
  margin-bottom: 30px;
}
a {
  color: #6c0345;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
.instruction {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px;
  color: #6c0345;
}
.submit-button {
  margin-left: 10px;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #ffefef;
  color: #6c0345;
  border: 1px solid #6c0345;
  width: 150px;
}
.hint {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
}
.poem {
  font-size: 16px;
  background-color: #f3d0d7;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #6c0345;
  box-shadow: 0px 4px 15px 0px rgba(39, 33, 66, 0.15);
}
.poem strong {
  color: #6c0345;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
